<!DOCTYPE html>
<html>

<head>
    <title>Painel LocalizAR UFJF</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
</head>

<body>
    <div id="message-box"></div>

    <div id="map"></div>

    <div class="menu">
        <div class="container">

            <ul class="nav nav-tabs">
              <li class="active"><a data-toggle="tab" href="#lugares"><span class="glyphicon glyphicon-map-marker"></span> Lugares</a></li>
              <li><a data-toggle="tab" href="#nos"><span class="glyphicon glyphicon-resize-full"></span> Nós</a></li>
            </ul>

            <div class="tab-content">

              <!-- Place Options -->
              <div id="lugares" class="tab-pane fade in active">
                
                <ul class="nav nav-pills nav-justified nav-pills-custom">
                  <li class="active" id="inspect-place-pill"><a href="javascript:clearPlaceForm();toggleInspectPlaces()">Inspecionar</a></li>
                  <li id="new-place-pill"><a href="javascript:toggleCreatePlaces()">Adicionar Novo</a></li>
                </ul>

                <form class="menu-form">
                    <input type="text" id="place-id" value=" " hidden>
                    <div class="form-row">
                        <label for="name">Nome</label>
                        <input class="form-control" type="text" id="name" required>
                    </div>

                    <div class="form-row">
                        <label for="area">Area</label>
                        <select class="custom-select form-control"" id="area" required>
                            <option value="">Areas...</option>
                            <option value="ICE">ICE</option>
                            <option value="Engenharia">Engenharia</option>
                            <option value="ICB">ICB</option>
                            <option value="ICH">ICH</option>
                            <option value="Reitoria">Reitoria</option>
                        </select>
                    </div>

                    <div class="form-group row latlng-input">
                        <div class="form-group col-xs-6">
                            <label for="lat">Latitude</label>
                            <input class="form-control" type="text" id="lat" placeholder="Latitude" readonly required>    
                        </div>
                        
                        <div class="form-group col-xs-6">
                            <label for="lng">Longitude</label>
                            <input class="form-control" type="text" id="lng" placeholder="Longitude" readonly required>
                        </div>
                    </div>

                    <div class="form-row">
                        <label for="info">Descrição</label>
                        <textarea class="form-control" id="info" rows="4" cols="40"></textarea>
                    </div>

                    <div class="form-group row buttons">

                        <div id="edit-button" class="form-group col-xs-1" hidden>
                            <button onclick="editPlace()" type="button" class="btn btn-primary custom-btn btn-block">Editar</button>
                        </div>

                        <div id="delete-button" class="form-group col-xs-1" hidden>
                            <button onclick="deletePlace()" type="button" class="btn btn-danger custom-btn btn-block">Remover</button>
                        </div>
                    
                        <div id="create-button" class="form-group col-xs-1" hidden>
                            <button onclick="registerNewPlace()" type="button" class="btn btn-success">Criar Lugar</button>
                        </div>      
                        
                    </div>
                </form>
              </div>

              <!-- Node Options -->
              <div id="nos" class="tab-pane fade">

                <ul class="nav nav-pills nav-justified nav-pills-custom">
                  <li class="active" id="inspect-node-pill"><a href="javascript:toggleInspectNodes()">Inspecionar</a></li>
                  <li id="new-node-pill"><a href="javascript:toggleCreateNodes()">Adicionar Novo</a></li>
                </ul>

                <form class="menu-form">
                    <input type="text" id="node-id" hidden>
                    <div class="form-row">
                        <label for="name-node">ID</label>
                        <input class="form-control" type="text" id="name-node" readonly required >
                    </div>
                    <div class="form-group row latlng-input">
                        <div class="form-group col-xs-6">
                            <label for="lat-node">Latitude</label>
                            <input class="form-control" type="text" id="lat-node" placeholder="Latitude" readonly required>    
                        </div>
                        
                        <div class="form-group col-xs-6">
                            <label for="lng-node">Longitude</label>
                            <input class="form-control" type="text" id="lng-node" placeholder="Longitude" readonly required>
                        </div>
                    </div>

                    <div class="form-group row buttons">

                        <div id="edit-node-button" class="form-group col-xs-1" hidden>
                            <button onclick="editPlace()" type="button" class="btn btn-primary custom-btn btn-block">Editar</button>
                        </div>

                        <div id="delete-node-button" class="form-group col-xs-1" hidden>
                            <button onclick="deletePlace()" type="button" class="btn btn-danger custom-btn btn-block">Remover</button>
                        </div>
                    
                        <div id="create-node-button" class="form-group col-xs-1" hidden>
                            <button onclick="registerNewPlace()" type="button" class="btn btn-success">Criar Lugar</button>
                        </div>      
                        
                    </div>

                </form>
              </div>
            </div>
        </div>
    </div> <!-- class="menu" --> 

    <div id="scriptsAndCss">
        <!-- JQuery -->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

        <!-- Bootstrap -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>


        <script src="js/places/places-util.js"></script>
        <script src="js/places/places-actions.js"></script>
        <script src="js/places/places.js"></script>

        <script src="js/nodes/nodes-util.js"></script>
        <script src="js/nodes/nodes-actions.js"></script>
        <script src="js/nodes/nodes.js"></script>
        
        <script src="js/map.js"></script>
        <script src="js/util.js"></script>
        <script src="js/map-custom-controls.js"></script>

        <link rel="stylesheet" type="text/css" href="css/style.css">
        
        <!-- Google Map Script -->
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBA-S3SFZzXjgaAe4PMva1i_vnXFk9ebtg&callback=initMap"></script>
    </div>
</body>
</html>