<!DOCTYPE html>
<html>

<head>
    <title>Painel LocalizAR UFJF</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
</head>

<body>
    <div id="message-box"></div>

    <div id="map"></div>

    <div class="menu">
        <div class="container">

            <ul class="nav nav-tabs" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" role="tab" href="#lugares"><i class="material-icons">place</i> Lugares</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" role="tab" href="#nos"><i class="material-icons">compare_arrows</i> Nós</a>
              </li>
            </ul>

            <div class="tab-content">

              <!-- Place Options -->
              <div id="lugares" class="tab-pane fade show active" role="tabpanel">
                
                <ul class="nav nav-pills nav-justified nav-pills-custom" role="tablist">
                  <li class="nav-item" id="inspect-place-pill"><a class="nav-link active" data-toggle="pill" onclick="clearPlaceForm();toggleInspectPlaces();" href="">Inspecionar</a></li>
                  <li class="nav-item" id="new-place-pill"><a class="nav-link" data-toggle="pill" onclick="toggleCreatePlaces();" href="">Adicionar Novo</a></li>
                </ul>

                <form class="menu-form">
                    <input type="text" id="place-id" value=" " hidden>
                    <div class="form-row">
                        <label for="name">Nome</label>
                        <input class="form-control" type="text" id="name" required>
                    </div>

                    <div class="form-row">
                        <label for="area">Area</label>
                        <select class="custom-select form-control" id="area" required>
                            <option value="">Areas...</option>
                            <option value="ICE">ICE</option>
                            <option value="Engenharia">Engenharia</option>
                            <option value="ICB">ICB</option>
                            <option value="ICH">ICH</option>
                            <option value="Reitoria">Reitoria</option>
                        </select>
                    </div>

                    <div class="form-group row latlng-input">
                        <div class="form-group col">
                            <label for="lat">Latitude</label>
                            <input class="form-control" type="text" id="lat" placeholder="Latitude" readonly required>    
                        </div>
                        
                        <div class="form-group col">
                            <label for="lng">Longitude</label>
                            <input class="form-control" type="text" id="lng" placeholder="Longitude" readonly required>
                        </div>
                    </div>

                    <div class="form-group row">

                        <div class="form-group col-6">
                            <label for="info">Descrição</label>
                            <textarea class="form-control" id="info" rows="6" cols="40"></textarea> 
                        </div>

                        <div class="form-group col-3">
                            <select class="custom-select form-control" id="model-name-selection">
                                <option value="pin">Pin</option>
                                <option value="biblioteca">Biblioteca</option>
                                <option value="cantina">Cantina</option>
                            </select>
                            <div class="model-container" id="model-container"></div>
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="model-upload" multiple="multiple" lang="pt-br">
                                <label class="custom-file-label" for="model-upload">Novo modelo...</label>
                            </div>
                        </div>

                        <div class="form-group col-3">
                            <select class="custom-select form-control" id="icon-name">
                                <option value="pin">Pin</option>
                                <option value="biblioteca">Biblioteca</option>
                                <option value="cantina">Cantina</option>
                            </select>
                            <div class="icon-container">
                                <img src="/img/pin.png">
                            </div>
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="icon-upload" lang="pt-br">
                                <label class="custom-file-label" for="model-upload">Novo arquivo...</label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row buttons">

                        <div id="edit-button" class="form-group col-xs-1" hidden>
                            <button onclick="editPlace()" type="button" class="btn btn-primary custom-btn btn-block">Editar</button>
                        </div>

                        <div id="delete-button" class="form-group col-xs-1" hidden>
                            <button onclick="deletePlace()" type="button" class="btn btn-danger custom-btn btn-block">Remover</button>
                        </div>
                    
                        <div id="create-button" class="form-group col-xs-1" hidden>
                            <button onclick="registerNewPlace()" type="button" class="btn btn-success">Criar Lugar</button>
                        </div>      
                        
                    </div>
                </form>
              </div>

              <!-- Node Options -->
              <div id="nos" class="tab-pane fade" role="tabpanel">

                <ul class="nav nav-pills nav-justified nav-pills-custom" role="tablist">
                  <li class="nav-item" id="inspect-node-pill"><a class="nav-link active" data-toggle="pill" onclick="javascript:toggleInspectNodes()" href="">Inspecionar</a></li>
                  <li class="nav-item" id="new-node-pill"><a class="nav-link" data-toggle="pill" onclick="javascript:toggleCreateNodes()" href="">Adicionar Nós</a></li>
                </ul>

                <form class="menu-form">
                    <input type="text" id="node-id" hidden>

                    <div class="form-group row latlng-input">
                        
                        <div class="form-group col-2">
                            <label for="name-node">ID</label>
                            <input class="form-control" type="text" id="name-node" readonly required >
                        </div>

                        <div class="form-group col-5">
                            <label for="lat-node">Latitude</label>
                            <input class="form-control" type="text" id="lat-node" placeholder="Latitude" readonly required>    
                        </div>
                        
                        <div class="form-group col-5">
                            <label for="lng-node">Longitude</label>
                            <input class="form-control" type="text" id="lng-node" placeholder="Longitude" readonly required>
                        </div>
                    </div>

                    <div class="form-group row buttons">

                        <div id="edit-node-button" class="form-group col-xs-1" hidden>
                            <button onclick="editPlace()" type="button" class="btn btn-primary custom-btn btn-block">Editar</button>
                        </div>

                        <div id="delete-node-button" class="form-group col-xs-1" hidden>
                            <button onclick="deletePlace()" type="button" class="btn btn-danger custom-btn btn-block">Remover</button>
                        </div>
                        
                    </div>

                </form>
              </div>
            </div>
        </div>
    </div> <!-- class="menu" --> 

    <div id="scriptsAndCss">
        <!-- JQuery -->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

        <!-- Bootstrap -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet"/>

        <!-- Icons -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

        <script src="js/threejs/three.js"></script>
        <script src="js/threejs/loaders/OBJLoader.js"></script>

        <script src="js/3d-model-view.js"></script>

        <script src="js/places/places-util.js"></script>
        <script src="js/places/places-actions.js"></script>
        <script src="js/places/places.js"></script>

        <script src="js/nodes/nodes-util.js"></script>
        <script src="js/nodes/nodes-actions.js"></script>
        <script src="js/nodes/nodes.js"></script>
        
        <script src="js/map.js"></script>
        <script src="js/util.js"></script>
        <script src="js/map-custom-controls.js"></script>

        <link rel="stylesheet" type="text/css" href="css/style.css">
        
        <!-- Google Map Script -->
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBA-S3SFZzXjgaAe4PMva1i_vnXFk9ebtg&callback=initMap"></script>
    </div>
</body>
</html>